$base-font-size: 16px !default;
$base-line-height: 1 !default;

$bio-sans-font-family: bio-sans, sans-serif;
$inter-font-family: inter, sans-serif;

$default-font-family: $inter-font-family !default;
