<button type='button' {{action 'toggle' bubbles=false}} class='p-1 rounded-full text-white hover:text-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white'>
  <span class='sr-only'>{{label}}</span>
  <Icons::Bell/>
</button>

{{#if expanded}}
  <div class='fixed top-0 left-0 right-0 bottom-0' role='button' {{action 'clickOutside' bubbles=false}}></div>
  {{yield this}}
{{/if}}