<div class='subscribe-features'>
  <div class='title'>Blinksale includes:</div>

  <div class='subscribe-features-list'>
    <div class='feature'>
      <div class='icon'></div>
      <div class='text bold'>Unlimited Invoices</div>
    </div>
    <div class='feature'>
      <div class='icon'></div>
      <div class='text'>Track your invoice activity with ease</div>
    </div>
    <div class='feature'>
      <div class='icon'></div>
      <div class='text'>Free & friendly support by phone or email</div>
    </div>
    <div class='feature'>
      <div class='icon'></div>
      <div class='text'>Stripe® & integration</div>
    </div>
    <div class='feature'>
      <div class='icon'></div>
      <div class='text'>Professional templates</div>
    </div>
  </div>
</div>
