<Layouts::AppLayout>
  <Layouts::PageBody>
    <Layouts::ColumnsGrid class='sm:grid-cols-3'>
      <Layouts::GridColumn class='sm:col-span-1'>
        <Layouts::SettingsNav/>
      </Layouts::GridColumn>

      <Layouts::GridColumn class='sm:col-span-2 flex flex-column justify-center content-center'>
        <div class='fixed z-20 h-10 w-10 inset-y-1/2 text-indigo-600'>
          <Icons::Spinner/>
        </div>
      </Layouts::GridColumn>
    </Layouts::ColumnsGrid>
  </Layouts::PageBody>
</Layouts::AppLayout>