<div class='max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5'>
  <div class='p-4'>
    <div class='flex items-start'>
      <div class='flex-shrink-0 pt-0.5'>
        {{#if (eq flash.type 'error')}}
          <div class='mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10 text-red-600'>
            <Icons::ExclamationTriangle/>
          </div>
        {{/if}}
        {{#if (eq flash.type 'warning')}}
          <div class='mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-yellow-100 sm:mx-0 sm:h-10 sm:w-10 text-yellow-600'>
            <Icons::ExclamationTriangle/>
          </div>
        {{/if}}
        {{#if (eq flash.type 'success')}}
          <div class='mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full sm:mx-0 sm:h-10 sm:w-10 bg-green-100 text-green-600'>
            <Icons::Check/>
          </div>
        {{/if}}
        {{#if (eq flash.type 'info')}}
          <div class='mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10 text-blue-600'>
            <Icons::Check/>
          </div>
        {{/if}}
      </div>
      <div class='ml-3 w-0 flex-1'>
        <p class='text-sm font-medium text-gray-900'>
          {{flash.title}}
        </p>
        <p class='mt-1 text-sm text-gray-500'>
          {{flash.message}}
        </p>
        <div class='mt-4 flex justify-end'>
          {{yield close}}
        </div>
      </div>
      <div class='ml-4 flex-shrink-0 flex'>
        <button type='button' class='bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none' {{action 'close'}}>
          <span class='sr-only'>Close</span>
          <Icons::Times/>
        </button>
      </div>
    </div>
  </div>
</div>