<div class='invisible'></div>

<main>
  <Layouts::AuthBody>
    <Layouts::AuthNav />
    <div class='sm:w-full sm:max-w-md'>
      <div class='header'></div>
    </div>
    <div class='sm:w-full sm:max-w-md'>
      <div class='subheader'></div>
    </div>
    <div class='sm:w-full sm:max-w-md'>
      <div class='sm:bg-white py-8 px-4 sm:shadow sm:rounded-lg sm:px-10'>
        {{yield}}
      </div>
    </div>
  </Layouts::AuthBody>
</main>

<Layouts::Footer />