<div class='text-center text-gray-400 bg-gray-50 text-sm'>
  Powered by 
  <a href={{marketingURL}} rel='noopener noreferrer' target='_blank'>
    <img class='h-16 w-16 mx-auto' src='/assets/images/logo-dark.svg' alt='Blinksale' >
  </a>
</div>