<li>
  <div
    class='relative -m-2 p-2 flex items-center space-x-4 rounded-xl hover:bg-gray-50 focus-within:ring-2 focus-within:ring-indigo-500'>
    <div class='flex-shrink-0 flex items-center justify-center h-16 w-16 rounded-lg {{card.color}}'>
      {{#if (eq card.cardName 'Invoices')}}
      <svg class='h-6 w-6 text-white' fill='none' stroke='currentColor' viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
          d='M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z'>
        </path>
      </svg>
      {{/if}}
      {{#if (eq card.cardName 'Clients')}}
      <svg class='w-6 h-6 text-white' fill='none' stroke='currentColor' viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
          d='M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z'>
        </path>
      </svg>
      {{/if}}
      {{#if (eq card.cardName 'Recurring Invoices')}}
      <svg class='w-6 h-6 text-white' fill='none' stroke='currentColor' viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
          d='M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'>
        </path>
      </svg>
      {{/if}}
      {{#if (eq card.cardName 'Estimates')}}
      <svg class='w-6 h-6 text-white' fill='none' stroke='currentColor' viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
          d='M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z'>
        </path>
      </svg>
      {{/if}}
      {{#if (eq card.cardName 'Account')}}
      <svg class='w-6 h-6 text-white' fill='none' stroke='currentColor' viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
          d='M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z'>
        </path>
      </svg>
      {{/if}}
      {{#if (eq card.cardName 'Support')}}
      <svg class='w-6 h-6 text-white' fill='none' stroke='currentColor' viewBox='0 0 24 24'
        xmlns='http://www.w3.org/2000/svg'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2'
          d='M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z'>
        </path>
      </svg>
      {{/if}}
    </div>
    <div>
      <h3 class='text-sm font-medium text-gray-900'>
        <LinkTo @route={{ card.actionLink }} class='focus:outline-none'>
          <span class='absolute inset-0' aria-hidden='true'></span>
          {{card.cardName}}<span aria-hidden='true'> &rarr;</span>
        </LinkTo>
      </h3>
      <p class='mt-1 text-sm text-gray-500'>{{card.description}}</p>
    </div>
  </div>
</li>