#invoice.document.details {
  &.status-past_due { /* stylelint-disable-line selector-class-pattern */
    .due .content {
      color: $magenta;
    }
  }
}

.portal #invoice.document.details {
  .payment.card .btn {
    display: block;
    margin-bottom: rem(16);
    margin-left: auto;
    margin-right: auto;
  }

  .payment-card-block {
    .fields {
      position: relative;

      .number-field {
        width: 100%;
      }
    }
  }
}
